body 
{
    margin:0px; /* The whole page body area has a default margin of 10px, so you have to over-ride this */
}

/* Table is full width */
#divContainer 
{
    overflow-y:scroll;
    background-color:#EEEEEE;
    width:300px; 
    height:400px;
}


/* NOTES */
/*
 - You control gaps between cells with the border-spacing property of the table.
 - td Cells have a default padding of 1px.

*/






/* Element Settings, Not Classes */
    
td,th
{ 
    border-width:5px;
    border-style:solid; 
    
    /* margin:10px; */ /* td cells do not have margin property*/
    padding:3px;
}    

td
{ border-color:#FFBBBB; }

th
{ border-color:#FFBBDD; }
    
    
.tableTestClass 
{
    border-collapse:separate;
    
    border-style:solid;
    border-width:2px;
    border-color:Black;
    
    /* Default is 1px, a nasty gap beteen each cell */
    border-spacing:0px;
        
    /* Gap around the table - express as % so that table size can be a % value also, and table can scale */
    /* Note: For DynaTables, this MUST be zero, and the margin should go around the containing div element. */
    margin:0px; 
    font-size:smaller;
    
    empty-cells:show;
    white-space:nowrap;

    table-layout:fixed;   
    width:100% /* IMPORTANT: Required for stacked tables to line up nicely */
}

.tdTestClassValue
{
    background-color:White;
    color:Blue;
    display:block; /* IMPORTANT: This is required for ellipsis to work */
    text-overflow:ellipsis;
    overflow: hidden;
}

.tdTestClassKey
{
    background-color:#9fa1fc;
    color:Black;
    overflow: hidden;
}

.thTestClass
{
    background-color:Navy;
    color:Yellow;
}

.col1 { width:33%; }
/* .col2 { width:67%; } */ /* Column 2's width is implied, as there are only two columns */


.trTestClassHeader
{
    /* Header rows */
}

.trTestClassData
{
    /* Data rows */
}

.buttonRowNavigate 
{
}

.textboxRowNavigate 
{
    width:2em;
}